<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
<head>
	<title>Restaurante-App
	</title>
	 
</head>	  

<body>
	<h1> Cadastro de Funcionarios</h1>
	
	<form method ="post">
		ID : <input type="number" values="" name="codigo"/>		
		Nome : <input type="text" values="" name="nome"/>
		Ex-Funcionario : <input type="checkbox" values="" name="status"/>
		
		<button type="submit">Salvar</button>
	</form>
	
</body>


</html>