<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
<head>
	<title>FilmesApp
	</title>
	  
</head>	  

<body>
	<h1> Lista de Funcionarios	</h1>
	<h3><a href="/">Menu Principal</a></h3>		
	<div th:each="funcionario : ${funcionarios}">
		<div class="row">
				<p><span th:text="${funcionario.codigo}"></span></p>
				<p><span th:text="${funcionario.nome}"></span></p>				
				<p><span th:text="${funcionario.status}"></span></p>		
		
	   </div>
	
	
		
</body>
	


</html>