<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
<head>
	<title>Restaurante-App
	</title>
	 
</head>	  

<body>
	<h1> Menu Principal </h1>
	
	<h3><a href="/cadastraRestaurante">Cadastro de Restaurantes</a></h3>
	<h3><a href="/cadastraFuncionario">Cadastro de Funcionarios</a></h3>
	<h3><a href="/listaRestaurantes">Lista de Restaurantes</a></h3>
	<h3><a href="/listaFuncionarios">Lista de Funcionarios</a></h3>
	
	
	
</body>


</html>